* {
font-family: 'Oswald', sans-serif;

}

header {
text-align: center;

}

body {
/* background-image: url(https://media.istockphoto.com/photos/cookies-factory-picture-id171301497); */
background-repeat: none;
background-color: black;
color: wheat;
text-decoration: none;
}

.nav-list {
display: inline;
list-style-type: none;
margin: 20px;
border-bottom: 20px;
overflow: hidden;
text-align: justify;

}


.nav-item1 {
border: 20px;
margin-right: 20px;
float: left;
}

div {
  width: 250px;
  padding: 10px;
  border: 5px double gray;
  margin: 0;
text-align: center;
}

#title {
  width: 320px;
height: 50px;
  padding: 10px;
  border: 5px double gray;
  margin: 0;

}

th, td {
  border: 2px solid rgb(133, 66, 27);
  padding: 5px;
}


#asset {
height: 70px;
}

#fam {
height: 400px;
width: 700px;
margin: 50px;

}

p {
margin-top: 50px;
}